@import "tailwindcss";

/* Modular style imports */
@import "./styles/variables.css";
@import "./styles/base.css";
@import "./styles/scrollbar.css";
@import "./styles/mobile.css";
@import "./styles/animations.css";
@import "./styles/components.css";
